*.beam
*~
acinclude.m4
aclocal.m4
AUTHORS.gz
autom4te.cache/
bin/couchdb
bin/couchdb.tpl
bin/couchjs
bin/couchjs.tpl
bin/couchjs_dev
bin/Makefile
bin/Makefile.in
BUGS.gz
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
CHANGES.gz
config.h
config.h.in
config.log
config.status
configure
erl_crash.dump
etc/couchdb/default.ini
etc/couchdb/default.ini.tpl
etc/couchdb/default_dev.ini
etc/couchdb/Makefile
etc/couchdb/Makefile.in
etc/default/Makefile
etc/default/Makefile.in
etc/init/couchdb.tpl
etc/init/Makefile
etc/init/Makefile.in
etc/launchd/Makefile
etc/launchd/Makefile.in
etc/launchd/org.apache.couchdb.plist
etc/launchd/org.apache.couchdb.plist.tpl
etc/logrotate.d/couchdb
etc/logrotate.d/couchdb.tpl
etc/logrotate.d/Makefile
etc/logrotate.d/Makefile.in
etc/Makefile
etc/Makefile.in
libtool
m4/ac_check_curl.m4
m4/ac_check_icu.m4
Makefile
Makefile.in
NEWS.gz
README.gz
share/Makefile
share/Makefile.in
src/couchdb/.deps/
src/couchdb/.libs/
src/couchdb/couch.app
src/couchdb/couch.app.tpl
src/couchdb/couchjs
src/couchdb/couchjs-couch_js.o
src/couchdb/couchjs-curlhelper.o
src/couchdb/couch_erl_driver.la
src/couchdb/couch_erl_driver_la-couch_erl_driver.lo
src/couchdb/Makefile
src/couchdb/Makefile.in
src/mochiweb/Makefile
src/mochiweb/Makefile.in
stamp-h1
test/Makefile
test/Makefile.in
THANKS.gz
tmp/
utils/Makefile
utils/Makefile.in
utils/run
var/Makefile
var/Makefile.in
